.about-outter {
    position: fixed;
    z-index: 1001;
    top: 10px;
    left: 10px;
}

.about-outter-projects {
    position: relative;
    z-index: 1001;
    top: 0;
    left: 0;
}

.name-top {
    background: $info-back;
    z-index: 999;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 10px 14px;
    white-space: nowrap;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transform: scale(1);
    transition: all .2s ease-in-out;
    width: auto;
    position: relative;
    display: block;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    @media screen and (min-width: 850px) {
        font-size: 15px;
    }
}

.name-close {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 1002;
    transform: scale(1);
    transition: all .2s ease-in-out;
    
    @media screen and (min-width: 850px) {
        width: 39px;
        height: 39px;
    }

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    svg {
        width: 34px;
        height: 34px;

        @media screen and (min-width: 850px) {
            width: 39px;
            height: 39px;
        }
    }

    img {
        width: 100%;
        border-radius: 50%;
        opacity: .65;
        cursor: pointer;
    }
}

.about-container {
    width: calc(100% - 50px);
    max-height: calc(60vh);
    overflow: scroll;
    background: $info-back;
    position: fixed;
    top: 57px;
    left: 10px;
    border-radius: 15px;
    max-width: 400px;
    padding: 15px;
    z-index: 999;

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @media screen and (min-width: $breakpoint) {
        width: 400px;
        max-height: calc(100vh - 98px);
    }

    @media screen and (min-width: 850px) {
        top: 58px;
    }

    h2 {
        color: white;
        font-size: 12px;
        line-height: 17px;
        margin: 10px 10px 0;
        padding: 0;
        font-weight: 400;

        @media screen and (min-width: 850px) {
            font-size: 13px;
        }
    }

    p {
        font-size: 12px;
        font-weight: 400px;
        line-height: 17px;
        color: #bbb;
        margin: 0 0 20px 10px;

        @media screen and (min-width: 850px) {
            font-size: 13px;
            margin: 0 0 25px 10px;
        }
    }

    .imprint {
        font-size: 13px;
        font-weight: 400;
        margin: 20px 0 10px 10px;
        padding: 0;
        text-decoration: none;
        color: #eee;
        display: block;
        opacity: .8;
        transition: all .5s ease-in-out;

        &:hover {
            text-decoration: underline;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
    }
}
.about-container::-webkit-scrollbar {
    display: none;
}

.about-email {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 0 10px;
    padding: 0;

    &:hover {
        text-decoration: underline;
    }
}

.services-container p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 10px;

    @media screen and (min-width: 850px) {
        font-size: 13px;
    }
}

.clients-container p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 10px;

    @media screen and (min-width: 850px) {
        font-size: 13px;
    }
}

.clock-container {
    margin: 0 0 0 10px !important;
}

.office-times {
    margin: 0 0 0 10px !important;
}

.audio-files {
    display: none;
    
}

/*kill the transitions on any descendant elements of .notransition*/
.notransition * { 
    transition: none !important; 
} 