.project-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    height: 33px;
    position: relative;

    @media screen and (min-width: 850px) {
        height: 39px;
    }
}

.project-info-fade > div:last-child > p:last-child {
    margin-bottom: 10px;
}

.project-info-fade {
    width: calc(100vw - 51px);
    max-height: 60vh;
    left: 0;
    top: 0;
    border-radius: 15px;
    max-width: 400px;
    overflow-y: scroll;
    padding: 0;
    z-index: 1001;
    scrollbar-width: none;
    -ms-overflow-style: none;
    mask-image: none;
    transition: all .3s ease-in-out;

    span {
        font-style: italic;
    }

    @media screen and (min-width: 850px) {
        max-height: calc(100vh - 100px);
    }
}

.project-info-fade::-webkit-scrollbar {
    display: none;
}

.project-info-fade-mask {
    mask-image: linear-gradient(to bottom, black calc(100% - 150px), transparent 97%);
    transition: all .3s ease-in-out;
}

.project-info-container {
    width: calc(100vw - 51px);
    max-height: 60vh;
    background: $info-back;
    position: fixed;
    left: 10px;
    top: 54px;
    border-radius: 15px;
    max-width: 400px;
    padding: 10px 5px;
    z-index: 999;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    @media screen and (min-width: 850px) {
        max-height: calc(100vh - 100px);
        top: 59px;
        padding: 10px 5px;
        width: 400px;
    }

    h1 {
        color: white !important;
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        margin: 10px 10px 20px;
        padding: 0;

        @media screen and (min-width: 850px) {
            font-size: 13px;
        }
    }

    h2 {
        color: white;
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        margin: 0 10px 0;
        padding: 0;

        @media screen and (min-width: 850px) {
            font-size: 13px;
        }
    }

    p {
        font-size: 10px;
        font-weight: 400;
        color: white;
        margin: 0 0 15px 10px;

        @media screen and (min-width: 850px) {
            font-size: 11px;
            margin: 0 0 25px 10px;
        }
    }
}

.project-info-container::-webkit-scrollbar {
    display: none;
}

// .project-info-container-hide {
//     visibility: 0;
//     opacity: 0;
//     z-index: -10;
//     transition: z-index .7s step-end, opacity .7s, visibility 0s ease-in-out;
// }

.project-header {
    position: relative;
}

.project-title {
    background: $info-back;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 0 14px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    white-space: nowrap;
    cursor: pointer;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: fixed;
    display: flex;
    flex-shrink: 0;
    flex: 0 1 auto;
    height: 34px;
    top: 10px;
    left: 158px;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    @media screen and (min-width: 850px) {
        font-size: 13px;
        height: 39px;
        left: 167px;
    }
}

.info-close {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 1002;
    transform: scale(1);
    transition: all .2s ease-in-out;
    margin: 0 0 0 10px;
    flex-shrink: 0;
    flex: 0 1 auto;
    top: 10px;
    left: 147px;

    @media screen and (min-width: 850px) {
        width: 39px;
        height: 39px;
        margin: 0 0 0 10px;
        left: 157px;
    }

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    img {
        width: 100%;
        border-radius: 50%;
        opacity: .65;
        cursor: pointer;
    }

    svg {
        width: 34px;
        height: 34px;

        @media screen and (min-width: 850px) {
            width: 39px;
            height: 39px;
        }
    }
}