.project-images-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
}

.project-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
}


.project-images-wrapper-show {
    visibility: visible;
    transition: all 2s ease-in;
}

.project-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    background: #000000;
}

.project-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;

    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

}