.project-info-container {
    width: 88%;
    max-height: calc(100vh - 90px);
    overflow: scroll;
    overflow-x: hidden;
    background: $info-back;
    position: absolute;
    left: 10px;
    top: 53px;
    border-radius: 15px;
    max-width: 400px;
    padding: 10px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: z-index .7s step-start, visibility 0s, opacity .7s ease-in-out;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    scrollbar-width: none;

    @media screen and (min-width: 850px) {
        max-height: calc(100vh - 98px);
        top: 59px;
        padding: 15px;
    }

    h1 {
        color: white !important;
        font-size: 12px;
        font-weight: 400;
        margin: 20px 10px;
        padding: 0;

        @media screen and (min-width: 850px) {
            font-size: 13px;
        }
    }

    h2 {
        color: white;
        font-size: 12px;
        font-weight: 400;
        margin: 0 10px 0;
        padding: 0;

        @media screen and (min-width: 850px) {
            font-size: 13px;
        }
    }

    p {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        margin: 0 0 15px 10px;

        @media screen and (min-width: 850px) {
            font-size: 13px;
            margin: 0 0 25px 10px;
        }
    }
}

.project-info-container-hide {
    visibility: 0;
    opacity: 0;
    z-index: -10;
    transition: z-index .7s step-end, opacity .7s, visibility 0s ease-in-out;
}

.project-title {
    position: absolute;
    z-index: 999;
    top: 10px;
    background: $info-back;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 10px 14px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    white-space: nowrap;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    @media screen and (min-width: 850px) {
        font-size: 15px;
    }
}

.info-close {
    width: 34px;
    height: 34px;
    background: $info-back;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 1002;
    top: 10px;
    transform: scale(1);
    transition: all .2s ease-in-out;

    @media screen and (min-width: 850px) {
        width: 39px;
        height: 39px;
    }

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    img {
        width: 100%;
        border-radius: 50%;
        opacity: .65;
        cursor: pointer;
    }
}