$white-fade: rgba(255,255,255, .6);
$background: #1e1e1e;
$breakpoint: 850px;
$dark-text: rgba(0,0,0, .7);
$light-text: rgba(0,0,0, .5);
$white-light: rgba(255,255,255,0.7);
$white-text: rgba(255,255,255.8);
$nav-back: #D9D9D9;
$info-back: rgba(100,100,100,0.4);
$info-back-darker: rgba(100,100,100,0.6);

// 1.About
// 2.Email
// 3.Current Time
// 4.Services
// 5.Selected Clients and Collaborators
// 6.Imprint